* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  /* margin-top: 6%; */
  margin-bottom: 6%;
}

header {
  display: flex;
  padding: 1%;
  background-color: rgb(110, 5, 5);
  color: white;
  justify-content: space-between;
  position: sticky;

  top: 0;
  width: 100%;
  height: 7%;
  z-index: 99;
}

h1 {
  font-size: 200%;
  flex: 0 0 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  min-width: 7%;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}
li {
  width: 150px;
}
nav ul li a:hover {
  background-color: yellow;
  color: black;
}
nav ul li a:active {
  color: blueviolet;
  background-color: cadetblue;
  font-size: 80%;
}

.rookb:before {
  content: "\2656";
  padding: 1%;
}
.rooka::after {
  content: "\2656";
  padding: 1%;
}
.bishopb::before {
  content: "\2657";
  padding: 1%;
}
.bishopa::after {
  content: "\2657";
  padding: 1%;
}
.knightb::before {
  content: "\265E";
  padding: 1%;
}
.knighta::before {
  content: "\265E";
  padding: 1%;
}
.bbishopb::before {
  content: "\265D";
  padding: 1%;
}
.bbishopa::after {
  content: "\265D";
  padding: 1%;
}

main {
  display: flex;
  border: 5px groove lightblue;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.projects {
  display: flex;
  text-align: center;
  border: solid blue 5px;
  flex-wrap: wrap;
}

*/ img {
  scale: auto;
}

.container {
  /* position: relative;
  text-align: center; */
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
}
div figure:first-child {
  flex: 1 0 100%;
}

section a {
  display: block;
  flex: 1 0 33.3%;
}
figure {
  position: relative;
  flex: 1 0 33.3%;
  border: 1px solid red;
  display: inline;
}

.project1 {
  position: absolute;
  bottom: 10;
  left: 10;
  justify-content: column;
  align-items: center;
}

.resume {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: rgb(110, 5, 5);
  width: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 10%;
}
.contactme {
  color: white;
  font-size: 14px;
}

.cfooter {
  display: flex;

  text-align: center;
  justify-content: center;
  font-size: 14px;
}
footer ul li {
  font-weight: bold;
  color: white;
  width: 25%;
}

footer ul li a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  justify-content: space-around;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  min-width: 7%;
}

@media screen and (max-width: 992px) {
  * {
    margin-top: 3%;
    margin-bottom: 20%;
    font-size: 12px;
  }
  footer {
    background-color: blue;
    flex-direction: column;
    justify-content: stretch;
    font-size: 90%;
    min-height: 15%;
  }
  h1 {
    font-size: 120%;
  }

  header {
    background-color: blue;
    flex-direction: column;
    justify-content: stretch;
    min-height: 10%;
  }
}
